/* ========== RESET ========== */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li{
  list-style: none;
}

a{
  text-decoration: none;
}

button{
  border: none;
}

/* ========== ROOT ========== */
:root{
  /* font size */
  font-size: 62.5%;

  --primary-color: #2091F9;

  --dark-text: #252B42;
  --light-text: #FFFFFF;
  --second-text: #374754;

  --light-background: gray;
  --dark-background: #252B42;

  --box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
}

/* ========== BASE ========== */
.container{
  max-width: 128rem;
  margin: 0 auto;
  padding: 0 1.6rem;
  display: flex;
}

.btn{
  padding: 1.6rem 3.2rem;
  background: var(--primary-color);
  border-radius: 3.5rem;
  color: var(--light-text);
  font-weight: 700;
  cursor: pointer;
}

section{
  padding: 9.6rem 0;
}

h1{
  font-size: 7.6rem;
  line-height: 8.4rem;
  letter-spacing: 0.2px;
}

h2{
  font-weight: 400;
  font-size: 4.8rem;
  line-height: 5.5rem;
  letter-spacing: 0.2px;
}

h3{
  font-weight: 700;
  font-size: 2rem;
  line-height: 2.8rem;
  letter-spacing: 0.1px;
}

h4{
  font-weight: 400;
  font-size: 2.8rem;
  line-height: 4rem;
  letter-spacing: 0.2px;
  max-width: 90rem;
}

p{
  font-size: 1.8rem;
  line-height: 2.5rem;
  letter-spacing: 0.2px;
}

img{
  max-width: 100%;
}

/* ========== BODY ========== */
body{
  background-color: var(--light-background);
  font-family: 'Poppins', sans-serif;
}

/* ========== HEADER ========== */
header{
  position: fixed;
  width: 100%;
}

header .container{
  align-items: center;
  justify-content: space-between;
  height: 10rem;
}

header nav{
  display: flex;
  gap: 3.2rem;
}

header ul{
  display: flex;
  align-items: center;
  gap: 3.2rem;
}

header nav ul li a{
  color: var(--light-text);
  font-size: 1.5rem;
  line-height: 2.8rem;
  letter-spacing: 0.2px;
}

#btn-open-menu,
#btn-close-menu{
  display: none;
}

/* ========== HOME ========== */
#home{
  background-image: url('../images/bg-home.png');
  background-position: bottom center;
  background-size: cover;
  background-repeat: no-repeat;
  
}

#home .container{
  height: 93rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#home h1{
  color: var(--light-text);
}

#home h4{
  color: var(--light-text);
  margin-block: 1.6rem 6.4rem;
}

/* ========== FEATURE ========== */
#feature .container{
  flex-direction: column;
  text-align: center;
}

.text-feature h2{
  color: var(--dark-text);
}

.text-feature h4{
  color: var(--second-text);
  margin: 0 auto;
  margin-top: 1.6rem;
}

.items-feature{
  display: flex;
  gap: 5.2rem;
  max-width: 90rem;
  margin: 8rem auto;
}

.item-feature-single h3{
  color: var(--dark-text);
  margin: 2rem 0;
}

.item-feature-single p{
  color: var(--second-text);
}

/* ========== SERVICE ========== */
#service .container{
  align-items: center;
  gap: 5rem;
}

.text-service{
  width: 50%;
}

.text-service h2{
  color: var(--dark-text);
}

.text-service h4{
  color: var(--second-text);
  margin-block: 0.8rem 6rem;
}

